/.classpath
/.project
/.settings
/target
/eclipse-classes
/core/target
/core/.classpath
/core/.project
/core/.settings
/core/.checkstyle
/examples/target
/examples/.classpath
/examples/.project
/examples/.settings
/examples/.checkstyle
pangool-flow/.classpath
pangool-flow/.project
pangool-flow/.settings
pangool-flow/target
benchmark/.classpath
benchmark/.project
benchmark/.settings
benchmark/target
