<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="open source, easy Hadoop API, implements Tuple MapReduce">
    <meta name="author" content="">

    <script src="http://code.jquery.com/jquery-1.4.4.js"></script>

    <script type="text/javascript">
       var pageid = "_page_{{page.name}}"
	 
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/prettify.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    
		<!-- <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/prettify.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/pangool_logo_transparente_100x86.png">
  </head>

  <body onload="prettyPrint()">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/index.html">Pangool</a>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
	        <div class="well sidebar-nav">
	        				 						
	          <ul class="nav nav-list">
	          	<li>		        	
		          	<a href="/index.html">
			         		<img width="125" height="108" src="/images/pangool_logo_transparente_125x108.png" />
			         	</a>
	          	</li>	          
	          	<li class="nav-header">User Guide</li>
	            <li><a href="schemas.html">Tuples, Schemas & Types</a></li>
	            <li><a href="TupleMrBuilder.html">Creating Pangool Jobs</a></li>            
	            <li><a href="group_and_sort.html">Group by / Sort By</a></li>                        
	            <li><a href="named_outputs.html">Named Outputs</a></li>
	            <li><a href="joins.html">Joins</a></li>
	            <li><a href="map_only_jobs.html">Map-only jobs</a></li>
	            <li><a href="rollup.html">Rollup</a></li>
	            <li><a href="partitioner.html">Custom Partitioners</a></li>
	            <li><a href="custom_serialization.html">Custom Serialization</a></li>
	            <li><a href="comparators.html">Custom Comparators</a></li>
	            <li><a href="text_io.html">Text Input/Output</a></li>
	            <li><a href="solrintegration.html">SOLR Integration</a></li>
	            <li><a href="mapred_api.html">Map Red API</a></li>	          	
	          </ul>
	
	        </div>
        </div>
      
	      <div class="span10">
	        {{content}}	
	      </div>

      </div>
    </div>
    <footer>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <hr>
            <p>&copy; pangool.net 2014</p>
          </div>
        </div>
      </div>
    </footer>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23098335-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
